    <div id="body"> 
        <section>
            <table>
              <tr>
                <td><img class="img" height="40" width="40" src="../assets/red-social-perfecta-marca-874x492.jpg" ></td>
                <td><button routerLink="/home" class="btn" name="Mis Historietas" >Mis Historietas</button></td>
                <td><button routerLink="/misCosas" class="btn" name="Mis Cosas">Mis Cosas</button></td>
                <td><button routerLink="/misColegas" class="btn" name="Mis Colegas">Mis Colegas</button></td>
                <td><button routerLink="/eventos" class="btn" name="Mis Eventos">Mis Eventos</button></td>
              </tr>
            </table>
          </section>
          <section>
            <table class="datosPersonales">
              <tr>
                <td><img class="img" src="../assets/yo.png" ></td>
                <td>
                  <p>Diego</p>
                  <p>ESPEJO</p>
                </td>
              </tr>
            </table>
        </section>
      </div>

