#description {
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
}

#description p{
    margin-left: 2%;
    margin-top: 2%;
}

#description textarea{
    font-size: small;
    font-family: "Comic Sans MS";
    margin-left: 5%;
    border: black 3px solid;
}

#description label{
    background-color: rgb(200,200,200);;
    border: black 3px solid;
}

#description button{
    background: rgb(120,120, 120);
    border-radius: 30px;
    border-width: 3px;
    border-color: rgb(80,80, 80);
    font-weight: bold;
    font-family: "Comic Sans MS";
    margin-left: 450px;
    margin-bottom: 5px;
}