#caja li{
    width: 35em;
    background-color: rgb(250,250,250);;
    border: black 3px solid;
    margin-bottom:5px;
    line-height: 2px; 
    padding-top: 1em;
    padding-bottom: 0.5em;
}

#caja li>p{
    font-family: "Comic Sans MS";
    line-height: 2px;
    font-size: small;
    padding-left: 1em;
}
