#historietas {
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
}

#historietas p{
    margin-left: 2%;
    margin-top: 2%;
}

#historietas textarea{
    font-size: small;
    font-family: "Comic Sans MS";
    margin-left: 5%;
    border: black 3px solid;
}

#historietas label{
    width: 41.4em;
    background-color: rgb(200,200,200);;
    border: black 3px solid;
}